<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.cosmiclion.beum"
    android:installLocation="auto">

    <supports-screens
        android:smallScreens="false"
        android:normalScreens="true"
        android:largeScreens="true"
        android:xlargeScreens="true"
        android:requiresSmallestWidthDp="360"/>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <application
        android:name="net.cosmiclion.opms.ebookreader.skyepub.SkyApplication"
        android:allowBackup="true"
        android:hapticFeedbackEnabled="false"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/MyMaterialTheme">
        <activity
            android:name="net.cosmiclion.opms.login.LoginActivity"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="net.cosmiclion.opms.main.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="net.cosmiclion.opms.main.notices.NoticesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="net.cosmiclion.opms.ebookreader.skyepub.BookViewActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize"
            android:label="BookView"
            android:theme="@android:style/Theme.Light.NoTitleBar"></activity>
        <activity android:name="net.cosmiclion.opms.ebookreader.ViewerActivity"></activity>
    </application>

</manifest>